<p>landingpage works! {{ displayName }}</p>

<div *ngIf ="displayWarning" class ="guestLabel">
  <div class="insideGuest">
    <span class="close" (click) = "displayWarningOnClick()"></span>
    <label> {{ warning }}</label>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <!-- Left Panel  -->
    <div class="col-sm-3">
      <!-- side Panel -->
      <!-- 1 of 3 -->
    </div>

     <!-- Center Panel  -->
     <div class="col-sm-6">
        <div class="col-md col-md-offset-3 centerPanel">

         <span>
                     <!-- drop down for filtering -->
                     <div ngbDropdown class="d-inline-block">
                       <button class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>Filter by: {{ filterByGroup }}</button>
                       <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                        <button ngbDropdownItem (click)="filterLabel('All')">All</button>
                         <button ngbDropdownItem (click)="filterLabel('Child')" title="Age 0 - 12 ">Child</button>
                         <button ngbDropdownItem (click)="filterLabel('Teen')" title="Age 13 - 18 ">Teen</button>
                         <button ngbDropdownItem (click)="filterLabel('Adult')" title="Age 19 and Greater ">Adult</button>
                       </div>
                     </div>
         </span>

         <div class="row">
          <div class="col-sm-4">  <!--added ngfor here to keep formatting -->

            <div class="card" style="margin-top: 50px;">
              <span style="text-align: center;">
                <img class="card-img-top imgStyle" [src]="img"  alt=" Card image cap">
             </span>
              <div class="card-body">
                <h5 class="card-title">Persons Name</h5>
                <p class="card-text">Basic details.</p>
                <a class="btn btn-primary" (click) ="fullDetails()" style = "color: white;">Go somewhere</a>
              </div>
            </div><!--end of card  -->

          </div>
         </div> <!--end of basic profile  -->
        </div> <!--end of basic profile row -->
    </div><!--end of center panel row -->

     <!-- Right Panel  -->
    <div class="col-sm-3">
      <!-- 3 of 3 -->
       <!-- side Panel -->
    </div>

  </div>
</div>

<button class="cornerBtn" title = "Create a Missing person">+</button>
