.guestLabel{
  text-align: center;
  padding-bottom: 1%;
}


.insideGuest{
  border-radius: 25px;
  border: 2px solid tomato;
  background-color: #ffb3b3;
  padding: 20px;
  width: 500px;
  display: inline-block;
  position: relative;
}

.close:before {
  content: '✕';
}
.close {
  position: absolute;
  top: 3px;
  right: 11px;
  cursor: pointer;
}

.centerPanel{
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 25px;
  /* background: #73AD21; */
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.imgStyle{
  height: 200px;
  width: 200px;
  padding-left: 0px;
}
.cornerBtn{
   position: fixed;
   bottom: 0px;
   right: 0px;
   border-radius: 50%;
   background-color: tomato;
   border: none;
   color: white;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 40px 30px;
   width: 100px;
   height: 100px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
